@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #FF900E;
    --secondary-color: #FFFFFF;
    --bg-color:#FFF4E7;
    --light-gray: #B0B0B0;
    --dark01: rgba(19, 19, 19, 1);
    --dark02: #424242;
    --dark03: rgba(114, 114, 114, 1);
    --max-width: 1920px;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.btn-primary{
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    width: 240px;
    height: 70px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.btn-primary:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}

/* header section */
header{
    background-color: var(--bg-color);
}
.header-wrapper{
    margin-left:228px; margin-right: 240px;
}
.navbar{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2.81rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0%;
    cursor: pointer;
   
}


.header-nav{
    flex-direction: row;
    color: var(--dark02);
    font-weight: 500;
    font-size: 1rem;

}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 90px;
    font-weight: 500;
}
.nav-list a{
    text-decoration: none;
    color: var(--dark02);
}

.nav-item {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark02);
    transition: all 0.3s ease; 
    padding: 10px 25px;
}
.nav-item:hover{
    background-color: var(--primary-color);
    color:white;
    padding: 10px 25px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
/* banner section */
.banner-content{
    display: block;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0%;
    margin-top: 48px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    width: 870px;
    text-align: center;
    color: var(--dark03);
    letter-spacing: 0%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.banner-button{
    margin-top: 20px;
    padding: 20px 30px;
    font-size: large;
}
.banner-image-container{
    width: 1440px;
    height: 700px;
}
.banner-image{
    width: 100%;
    height: 100%;
}
