/* Global */


/* shared styles */
.display-flex{
    display: flex;
}

.text-gray{
    color:#424242;
}

.text-light-gray{
     
}

/* header styles */


/* navbar styles */

.navbar{
}


.nav-item{
    list-style: none;
    margin-right: 30px;
}