@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #FF900E;
    /* --secondary-color: #424242; */
    --bg-color:#FFF4E7;
    --light-gray: #B0B0B0;
    --dark01: rgba(19, 19, 19, 1);
    --dark02: #424242;
    --dark03: rgba(114, 114, 114, 1);
    --max-width: 1920px;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.button-primary{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

/* header section */
/* navbar */
header{
    background-color: var(--bg-color);
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--bg-color);
    width: var(--max-width);
}
.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
}
.navbar .nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navbar .nav-links li a{
    text-decoration: none;
    color: var(--dark03);
    font-weight: 400;
    font-size: 1rem;
}
.navbar .nav-links li a:hover{
    color: var(--primary-color);
}

header .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .header-content h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}
header .header-content p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

header{
    max-width: 1440px;
    margin: 0 auto;
}


.header-image img{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .header-image img{
        width: 100%;
    } 
    .header-content h1{
        font-size: 2rem;
    }   
    .header-content p{
        font-size: 1rem;
    }   
    .header-content button{
        font-size: 0.8rem;
    } 
}